/* styles.css */

* {
    margin: 0;
    padding: 0;
}

body {
    background: #121212;
}

body,
p,
h1,
h2 {
    font-family: 'Lato', sans-serif;
    line-height: 1.8em;
    color: #fff;
}

a {
    text-decoration: none !important;
}

.container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

.main {
    width: 90%;
    padding: 0;
    margin: 0 auto 60px;
}

h1.logo {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding: 40px 0;
    border-bottom: 1px solid #fff;
}

.logo a {
    color: #fff;
}

p.intro {
    font-family: 'Merriweather', serif;
    padding: 40px 0;
    margin-bottom: 40px;
    font-size: 1.7rem;
    border-bottom: 1px solid #fff;

}

h2 {
    padding: 0 0 40px 0;
}

.recipe h2 {
    padding: 20px 0;
    margin-bottom: 40px;
    border-bottom: 1px solid #fff;
    letter-spacing: 1.2px;
}

.feature-img {
    margin-top: 10px;
    margin-bottom: 10px;
}

.featured-content {
    display: flex;
    justify-content: space-between;
}

.recipe p {
    font-family: 'Merriweather', serif;
    font-size: 1.4rem;

}

.recipe li {
    font-family: 'Merriweather', serif;
    font-size: 1.2rem;
    line-height: 1.5em;
    margin-bottom: 20px;
    margin-left: 20px;
}

.directions li {
    font-size: 1.1rem;
    line-height: 1.7em;
    padding-right: 30px;
}

.recipe {
    margin-bottom: 80px;
}

.recipe img {
    width: 100%;
    max-width: 500px;
}

.food-link {
    width: 100%;
    min-width: 280px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.burger-img {
    background-image: url(https://gp-dev-storage.s3-us-east-2.amazonaws.com/odin-recipes/burger.png);

}

.lasagna-img {
    background-image: url(https://gp-dev-storage.s3-us-east-2.amazonaws.com/odin-recipes/lasagne.png);
}

.taco-img {
    background-image: url(https://gp-dev-storage.s3-us-east-2.amazonaws.com/odin-recipes/tacos.png);
}

.food-card a {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 200;
    letter-spacing: 1px;
}

@media (max-width:986px) {
    .featured-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .food-link {
        width: 100%;
        max-width: 100%;
        margin-bottom: 10px;
    }

    .food-card {
        padding-bottom: 30px;
    }
}